@font-face{
    font-family:"thewitcher-medium";
    src:url("font/thewitcher-4.ttf") format("opentype");
}
.header {
    left: 0;
    right: 0;
    display: flex;
    background-color: black;
    height: 160px;
    justify-content: space-evenly;
    align-items: center;
    font-family: thewitcher-medium, serif;
    font-size: 2em;
}
.header .btn{
     color: white;
 }
.header .btn:hover{
    color: red;
}
.logo {
    width: 150px;
    height: 150px;
    margin-right: 5px;
}
img{
    width: 450px;
    height: 400px;
    border-radius: 10%;
}
body{
    background: url(https://external-preview.redd.it/AgHl_LclkC55h7Ny-_tSmE6mQY6rLYf2XPjzDOPBQmI.jpg?auto=webp&s=a23e0b7caaf9ac83c91e2b035b62325825a7fc51) no-repeat;
    background-size: cover;

}
#info{
    flex-wrap: wrap;
    margin: 5% auto;
    display: flex;
    flex-direction: row;
}
#separate{
    margin: auto;
}
#info p{
    height: 100px;
    padding-top: 15%;
    font-family: thewitcher-medium, serif;
    color: white;
    font-size: 2em;
    text-align: center;
    background: url("/img/parchemin.jpg") no-repeat;
    background-size: 100%;
}
.footer {
    margin-top: -75px;
    padding-top: 25px;
    height: 100px;
    background-color: rgba(0, 18, 19);
}
.footer p {
    font-family: thewitcher-medium, serif;
    color: gray;
    font-size: 1.5em;
    text-align: center;
}
a{
    text-decoration: none;
}